/**
 * @fileOverview ci-tree-nav
 * @author: burning <www.cafeinit.com>
 * @date: 2016-09-14
 */


.ci-tree-nav {
  list-style: none;
  padding: 0;
  margin: 0 0 1em 0;
  border-top: 1px solid @color-border;
  background-color: @color-background;
}

.ci-tree-nav-item {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: @base-height;
  border-bottom: 1px solid @color-border;

  a {
    display: block;
    padding: 5px 10px;
  }

  &.ci-active {
    a {
      color: @color-primary;
    }
  }

  >.ci-tree-nav {
    padding: 0;
    margin: 0;
    border-top: 1px solid @color-border;
  }
}
